<article class="sidebar">
    <h1 class="sidebar-title">Favorite Travel Spots</h1>
    <p class="sidebar-body">
        While you attend the conference, head over to our gallery where you can
        check out some of the work from our speakers.
    </p>
    <div class="pixgrid clearfix">
        <img src="./images/artwork/Lorenzo_Garcia_01_tn.jpg" alt="Artwork 0" />
        <img src="./images/artwork/Lorenzo_Garcia_02_tn.jpg" alt="Artwork 1" />
        <img src="./images/artwork/Lorenzo_Garcia_03_tn.jpg" alt="Artwork 2" />
    </div>
</article>
